/* _-_-_- base/TYPOGRAPHY -_-_-_ */

body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
}

h1 { font-size: 4em; }
h2 { font-size: 3.5em; }
p, li  { font-size: 1.3em; line-height: 1.5em; }