.contact {
    &-social-media {
        &__item {
            a {
                color: $secondary-color;
                &:hover {
                    color: $color-white;
                    text-decoration: none;
                }
            }
        }
    }
}